/* GameOverPopup.css */
.game-over-popup {
  background-color: #ffffffbd;
  padding: 20px;
  border: 2px solid #e74c3c;
  border-radius: 8px;
  text-align: center;
}

.game-over-popup h2 {
  color: #e74c3c;
}

.game-over-popup button {
  padding: 10px;
  margin-top: 10px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.game-over-popup button:hover {
  background-color: #c0392b;
}
  