/* Health.css */
.health-container {
  margin-top: 5px;
}

.health {
  font-size: 1.5em;
  color: #4CAF50; /* Green color for normal health */
}

.low-health {
  color: #e74c3c; /* Red color for low health */
}
